* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: blue;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
  }
  #section {
    border: 4px solid darkblue;
    border-radius: 6px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18%;
    width: 300px;
  }
  #form {
    padding: 5px;
    margin-top: 20px;
    color: grey;
  }
  #button {
    margin: 10px;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    background-color: green;
    color: white;
  }
  #user,
  #password {
    background-color: lightgray;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 250px;
  }
  #forgot {
    margin-top: 8px;
  }
  #click {
    color: yellow;
  }
  #forgot span {
    color: white;
  }