* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: rgb(234, 218, 197);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header nav ul {
  display: flex;
  column-gap: 25px;
}

#hero-banner {
  background-color: rgb(234, 218, 197);
  margin-top: 80px;
}
.hero-banner {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

.hero-banner-info,
.hero-banner-image {
  width: 50%;
}

.hero-banner-image img {
  width: 100%;
  position: relative;
  /* top: -20px;
    left: -20px; */
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
}
.hero-banner-image .border {
  width: 50%;
  border: 3px solid orange;
  border-radius: 10px;
}
.hero-banner-image {
  display: flex;
  justify-content: center;
}

.hero-banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}

.hero-banner-name {
  font-size: 4rem;
}
.hire-me {
  /* padding: 10px 20px; */
  border-radius: 5px;
  background-color: orange;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 100px;
}

.hire-me:hover {
  border: 2px solid orange;
  background-color: transparent;
  color: orange;
}

.social-icons {
  display: flex;
  column-gap: 15px;
}

.line-box .line {
  border: 2px solid orange;
  width: 30%;
}

.top-line {
  text-decoration: overline orange;
}

#about {
  background-color: white;
  /* height: 100vh; */
}
nav ul li a {
  color: black;
}
.women-image {
  display: flex;
  justify-content: center;
}
.women-image img {
  width: 100%;
  position: relative;
  /* top: -20px;
    left: -20px; */
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
}
.women-info,
.women-image {
  width: 50%;
}
.women-image .border2 {
  width: 50%;
  border: 3px solid orange;
  border-radius: 10px;
}
.women-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}
.about {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}
.line-box2 .line {
  border: 2px solid orange;
  width: 60%;
}
.text {
  font-size: small;
  color: gray;
}
.about-me {
  border-radius: 5px;
  background-color: orange;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 100px;
}
.services.line {
  border: 2px solid orange;
  display: inline-block;
  width: 20%;
}
.header-services .line {
  border: 2px solid orange;
  display: inline-block;
  width: 4%;
}
#services {
  background-color: rgb(227, 241, 236);
  padding: 80px ;
}
.services {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
}
.services.line {
  border: 2px solid orange;
  display: inline-block;
  width: 4%;
}
.text-inside-box {
  font-size: 7px;
  text-align: center;
  color: gray;
  max-width: 200px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  background-color: white;
  height: 200px;
}
.box-services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foot-link {
  background-color: black;
  color: orange;
  margin-top: 20px;
  height: 60px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 20px;
  margin-top: 20px;
}
.foottext {
  background-color: black;
  color: gray;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
}