* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-color: rgb(240, 165, 165);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header nav ul {
  display: flex;
  column-gap: 20px;
}

.submit {
  background-color: rgb(155, 66, 81);
  color: rgb(224, 217, 218);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}
.login {
  border: none;
  background-color: transparent;
}


/* .foto-box img {
    width: 10%;
    height: 10%;
} */
.foto-box {
  
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
  margin: 0 auto;
}
.team-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 4% 0;
}
.button-open {
  background-color: rgb(155, 66, 81);
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 12%;
  margin: 2% auto;
}
.button-type {
  margin: 2% auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  height: 50%;
  background-color: rgb(247, 154, 203);
}
footer .div-left,.textt {
  width: 50%;
}
.foot-text {
  display: flex;
  justify-content: space-evenly;
}
.textt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.foot-quickly {
  padding: 5% 0 0 5%;
}
.fa-brands {
  height: 15px;
  width: 15px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1% ;
}
.social-ikons {
  margin: 5% 0 0 5%;
}
.p-footText {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bars {
  display: none;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .foto-box {
    width: 30%;

}
header {
  background-color: rgb(207, 244, 245);
}
.submit{
  background-color: rgb(12, 189, 196);
}


}
 



@media screen and (max-width: 767px) {
  .fa-bars {
    display: block;
    color: black;
  }
  header .header nav {
    display: none;
  }
  .button {
    display: none;
  }
  .foto-box {
    width: 25%;
  flex-direction: column;
  row-gap: 1rem;
}
header {
  background-color: darkorchid;
}

.button-open {
  width: 20%;
}
.foot-text {
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  padding: 0 auto;
}
.textt {
  flex-direction: column;
  row-gap: 2rem;
  display: flex;
  align-items: center;
  padding: 0 auto;
}
.foot-quickly {
  padding: 0 auto;
}
}
  
  


