* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.div-top {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.div-left {
  display: flex;
  margin-right: 10px;
}
.div-right {
  display: flex;
  justify-content: center;
}
.div-right img,
.div-left img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
h3 {
  font-family: "Grand Hotel", cursive;

  color: green;
  font-size: 25px;
}
h2 {
  font-family: "Patrick Hand SC", cursive;
}
p {
  color: grey;
}
.products {
  margin-bottom: 20px;
}
.button {
  width: 35%;
  background-color: green;
  color: white;
  border: none;
  height: 16%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
.button:hover {
  background-color: white;
  color: green;
  border: 3px solid green;
}
h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 4px;
}
.dollar {
  color: rgb(2, 71, 2);
}
section .container {
  background-color: rgb(223, 243, 243);
  height: 40%;
}

.services {
  font-family: "Patrick Hand SC", cursive;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-2 {
  margin-top: 30px;
}
.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
h3.ezplare {
  margin: 0 0 20px 0;
  font-family: "Grand Hotel", cursive;
  color: green;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.foto {
  display: flex;
  justify-content: center;
}
.foto-div img {
  width: 250px;
  height: 190px;
  column-gap: 30px;
}
.info {
  width: 250px;
  /* background-color: rgb(223, 243, 243); */
  background-color: rgb(223, 243, 243);
  margin: 0 10px;
  position: relative;
  bottom: 5px;
  right: 8px;
}
.container-2 {
  height: 60%;
}
.foto-div {
  border: 1 px solid rgb(163, 223, 223);
}
.container-2 i .fa-solid {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -13px;
}
.info .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  border: none;
  width: 35%;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  padding: auto;
}
.read-more:hover {
  background-color: white;
  color: green;
  border: 3px solid green;
}
.button-read {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
i {
  background-color: rgb(177, 236, 177);
  color: green;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.ikons {
  display: flex;
  justify-content: center;
  
  margin-bottom: 17%;
}
.ikons i {
  position: absolute;
}
.info h4 {
  font-family: "Patrick Hand SC", cursive;
  /* padding: 3%; */
  display: flex;
  justify-content: center;
  font-size: 20px;
}
@media screen and (max-width: 1023px) {
  /* .foto {
    flex-direction: column;
   }
    .div-left {
        width: 50%;
        float: left;
    }
    .div-right img {
        width: 100%;
        flex-wrap: wrap;
    }
    .image-1 {
        float: right;
        width: 100%;
    }
    .div-right {
         flex-direction: column; 
         flex-direction: row;
    } */
  .div-top {
    flex-direction: column;
  }
  .div-right {
    margin: 0 auto;
    justify-content: space-between;
    /* flex-direction:column ; */
  }
  .foto-div img {
    width: 250px;
  }
  .div-right img {
    width: 250px;
  }
  .foto-div {
    margin: 15px auto;
  }
  .foto {
    flex-direction: column;
  }
  .button {
    height: 8%;
  }
}
@media screen and (max-width: 767px) {
  .div-top {
    flex-direction: column;
  }
  .div-right {
    flex-direction: column;
    margin: 0 auto;
  }
  .foto-div img {
    width: 250px;
  }
  .div-right img {
    width: 250px;
  }
  .foto-div {
    margin: 15px auto;
  }
  .foto {
    flex-direction: column;
  }
  .div-left {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
  .div-left img {
    width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  h3,
  h2,
  p,
  .button , .products {
    display: flex;
    justify-content: center;
    margin: 5% auto;
  }
  
}
