header {
  height: 60px;
  background-color: $header-color;
  .header {
    @include flex(space-between, center);
    .logo {
      margin-top: 20px;
      h4 {
        color: white;
        font-size: 24px;
        font-weight: 700;
      }
    }
    .navigation {
      margin-top: 25px;
      nav {
        ul {
          @include flex();
          column-gap: 2rem;
          li {
            a {
              font-weight: 400;
              font-size: 16px;
              color: white;
              margin: auto 0;
            }
          }
        }
      }
    }

    .button {
      column-gap: 1rem;
      margin-top: 12px;
      .sign-up {
        @extend %primary-button;
      }
      .log-in {
        @extend %second-button;
        border: none;
      }
    }
  }
}
// RESPONSIVE HEADER
@media screen and (max-width: 767px) {
  header {
    .header {
      .navigation {
        nav {
          ul {
            li {
              a {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
