%Add-to-card-btn {
  width: 312px;
  height: 45px;
  border: 1px solid #212121;
  color: #212121;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
}

//------------------------------------------//
%New-btn {
  width: 79px;
  height: 32px;
  color: white;
  background-color: #43d167;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
//-------------------------------------------//
%Btn-30 {
  width: 79px;
  height: 32px;
  color: white;
  background-color: #df4244;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
