.home-text {
  h2 {
    margin-top: 10%;
    color: #072125;
    line-height: 50.4px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
  p {
    font-size: 400;
    font-weight: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 6%;
  }
}
//  ................
.team-info {
  @include flex(center, center);
  flex-direction: column;
  .team-section {
    @include flex(center, center);
    flex-wrap: wrap;
    gap: 1rem;
    .box {
      @include flex(center, center);
      flex-direction: column;
      width: 30%;
      img {
        display: flex;
        text-align: center;
      }
      .social-ikon {
        width: 40%;
        @include flex(space-around, center);
        column-gap: 10px;
        
      }
      h4 {
        color: #072125;

        font-size: 24px;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  //
}
footer {
  background: #072125;

  .footer {
    @include flex(space-evenly, center);
    .footer-left {
      margin: 50px 0;
      @include flex();
      flex-direction: column;
      .checbox2 {
        @include flex(space-between, center);
        flex-direction: column;
        label {
          color: white;
        }
      }
      .text {
        h3 {
          color: white;
          font-size: 32px;
          font-weight: 700;
          line-height: 40.32px;
        }
      }
    }
    .footer-right {
      margin: 50px 0;
      @include flex(space-between, center);
      column-gap: 2rem;
      div {
        nav {
          ul {
            li {
              a {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: white;
              }
              h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 22.68px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

//
@media screen and (max-width: 1023px) {
  .team-info {
    @include flex(center, center);
    flex-direction: column;
    .team-section {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1.5rem;
      .box {
        width: 40%;
      }
    }
  }
}
// ................
@media screen and (max-width: 767px) {
  .team-info {
    @include flex(center, center);
    flex-direction: column;
    .team-section {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 1.8rem;
      .box {
        width: 55%;
      }
    }
    // .team-button {
    //   .open-vacancies {

    //     @extend %second-button;
    //     background: #20484f;
    //     padding: 10px 10px;
    //     width: 150px;
    //     margin: 10px ;
    //   }
    // }
  }
}
