* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box {
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  border-radius: 8px;
  font-size: 27px;
}
.container .left,
.container .right {
  width: 50%;
}
.container {
  display: flex;
  gap: 20px;
}
.container .left {
  display: flex;
  gap: 20px;
}
.container .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right .four {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
  }
  .container .left,
  .container .right {
    width: 100%;
  }
  .box {
    background-color: green;
  }
}
@media screen and (max-width: 767px) {
  .container .left,
   .right .four {
    flex-direction: column;
  }
  .box {
    background-color: red;
  }
}
