%primary-button {
  width: 82px;
  height: 41px;
  border-radius: 8px;
  background: #b8e4da;
  color: #20484f;
  padding: 10px 16px;
  cursor: pointer;
}
%second-button {
  width: 82px;
  height: 41px;
  border-radius: 8px;
  background-color: transparent;
  color:white;
  padding: 10px 16px;
  cursor: pointer;
}